.width-cart{
    width: 300px;
}
.float-right{
    float: right;
}
.width-slug{
    width: 70px;
}
.alert-order{
    background: black;
    width: 100px;
}
#form-checkout .title{
    margin-left: 15px;
}
#checkout label{
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
}
#checkout span{
    padding:5px;
    color: red;
}
